<section class="container my-3">
    <form #editAuther="ngForm" (ngSubmit)="edit(editAuther)">
        <div class="row mb-3">
            <input class="form-control" name='name' #name="ngModel" placeholder="your name"
                [(ngModel)]="editautherData.name" minlength="3" maxlength="20">
            <span class="alert alert-danger my-3"
                *ngIf="name.invalid && (editAuther.submitted || name.dirty ||name.touched)">
                <p *ngIf="name.errors?.minlength"> * name must be more than 3 chars </p>
                <p *ngIf="name.errors?.maxlength"> * name must be less than 20 chars </p>
            </span>
        </div>
        <div class="row mb-3">
            <input class="form-control" name='email' placeholder="your email" #mail="ngModel" [(ngModel)]="
                editautherData.email" email>
            <span class="alert alert-danger my-3"
                *ngIf="mail.invalid && (editAuther.submitted || mail.dirty ||mail.touched)">
                <p *ngIf="mail.errors?.email"> * invalid email format </p>
            </span>
        </div>


        <div class="row mb-3">
            <button class="btn btn-primary">Edit</button>
        </div>
    </form>
</section>