<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">book Name</th>
            <th scope="col">book price</th>
            <th scope="col">book category</th>
            <th scope="col">no of users own this book</th>
            <th scope="col">book autherId</th>
            <th scope="col">book created At</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of allBooks ;let i=index;">

            <th scope="row">{{i}}</th>
            <td>{{book.bookName}}</td>
            <td>{{book.price}}</td>
            <td>{{book.category}}</td>
            <td>{{book.userId.length}}</td>
            <td>{{book.autherId}}</td>
            <td>{{book.createdAt}}</td>

            <td>
                <button class="card-text" (click)="deletee(book._id,i)"> delete </button><br>
                <button class="card-text" (click)="viewSingleBook(book._id)"> view </button><br>
            </td>

        </tr>

    </tbody>
</table>